body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar {
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.234);
} 


/* esto es del swiper de la section2 */
.Swiper2 .swiper-slide {
  width: 240px !important;
}

@media screen and (max-width: 768px) {
  .Swiper2 .swiper-slide {
    width: 84px !important;
  }
}
/* fin section2 */




/* esto es de la section4 */
.section4 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  @media screen and (max-width: 768px) {
    .section4 .flip-card {
      width: 110px;
      height: 110px;
    }
    
  }
  
  .section4 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .section4 .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .section4 .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 10px;
  }
  
  .section4 .flip-card-front {
    background-color: #000735;
    color: white;
  }
  
  .section4 .flip-card-back {
    background-color: white;
    color: #000735;
    transform: rotateY(180deg);
  }
  /* fin section4 */



/* esto es de la section5 */
  .swiper-button-prev,
.swiper-button-next {
  color: white; /* Cambia el color del icono */
  background-color: #000735; /* Cambia el color de fondo */
  border-radius: 50%; /* Hace que los botones sean redondos */
  width: 40px; /* Ajusta el ancho del botón */
  height: 40px; /* Ajusta la altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px; /* Ajusta el tamaño del icono */
}
/* fin section5 */


/* esto es de la section6 */
.bg-banner  {
  background-image: url('./assets/img/baner.jpg');
  background-size: 90%;
  background-color: #000735;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  
  
}

@media screen and (max-width: 768px) {
  .bg-banner {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000735;
    height: 400px;
  }
 
}

.sombra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
 
}
/* fin section6 */


/* esto es de la pagina quienes somos  */

.h1qs{
  font-size: clamp(30px, 4vw, 45px);
  font-weight: 600;
}
.subqs{
  font-size: clamp(2rem, 4vw, 1.8rem);
  font-weight: 500;
}
.pqs{
  font-size: clamp(10px, 3vw, 12px);
  
  
}

/* esto es de la pagina mapas */
.imgmap{
  width: 80%;
  height: 300px;
  /* object-fit: cover; */
  /* aspect-ratio: 3/2; */
  object-fit: contain;
  
}

