body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


/* esto es de la section4 */
.section4 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  @media screen and (max-width: 768px) {
    .section4 .flip-card {
      width: 110px;
      height: 110px;
    }
    
  }
  
  .section4 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .section4 .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .section4 .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 10px;
  }
  
  .section4 .flip-card-front {
    background-color: #000735;
    color: white;
  }
  
  .section4 .flip-card-back {
    background-color: white;
    color: #000735;
    transform: rotateY(180deg);
  }

/* esto es del swiper de la section2 */
  .Swiper2 .swiper-slide {
    width: 240px !important;
  }

  @media screen and (max-width: 768px) {
    .Swiper2 .swiper-slide {
      width: 84px !important;
    }
    
  }

  .swiper5-button-prev, .swiper5-button-next {
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  
  .swiper5-button-prev {
    background-image: url('/path/to/your/prev-image.png'); /* Ruta a tu imagen personalizada */
  }
  
  .swiper5-button-next {
    background-image: url('/path/to/your/next-image.png'); /* Ruta a tu imagen personalizada */
  }